<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarisCHAD Privacy Policy</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        body {
            padding-left: 25px;
            font-family: OCR A Std, monospace;
        }
        h1 {
            font-weight: 900;
            padding-top: 25px;
            font-size: 64px;
        }
        h3 {
            font-weight: bold
        }
        text {
            font-size: 12px;
        }
        b {
            font-size: 12px
       }
    </style>
    <body>
        <h1 class="mt-4 mb-4">Privacy Policy</h1>
        <h6 class="mt-4 mb-4">
            This Privacy Policy explains how I collect, use, and
            protect the information provided by users of my web application ("MarisCHAD").
            I am committed to ensuring the privacy and confidentiality of your information.</h6>
        <h3 class="mt-4 mb-4">Information Collection and Use</h3>
        <text>
            The Webapp is designed to not collect any personally identifiable information
            ("Personal Data"). The app does not require users to provide their names,
            email addresses, or any other personal information.
        </text>
        <h3 class="mt-4 mb-4">Anonymous User Questions</h3>
        <text>
            When you use the Webapp, you may submit questions anonymously. These questions
            will be stored in a database for the sole purpose of providing the service you requested.
            We do not associate these questions with any personally identifiable information.
        </text>
        <h3 class="mt-4 mb-4">Data Security</h3>
        <text>
            Reasonable precautions were taken to protect the information stored in the database. An
            appropriate level of procedures were implemented to safeguard and secure the collected
            information. However, please note that no method of transmission over the Internet or
            electronic storage is 100% secure, and I cannot guarantee absolute security so please
            refrain from entering any personal data.
        </text>
        <h3 class="mt-4 mb-4">Data Retention</h3>
            <text>
                We retain the anonymous user questions in our database for a reasonable period
                necessary to provide the service and improve our Webapp. After this period, we
                will delete or anonymize the questions to ensure they cannot be linked back to
                any individual.
            </text>
        <h3 class="mt-4 mb-4">Prohibition of Sharing App Author's Personal Data</h3>
            <b>We strictly prohibit any sharing, disclosure, or distribution of the personal data
                belonging to the author of this app. The app author's personal data includes but is
                not limited to their name, contact information, and any other personally identifiable
                information. We are committed to ensuring the privacy and security of the app author's
                personal data and take appropriate measures to protect it from unauthorized access or
                disclosure.
            </b>
        <h3 class="mt-4 mb-4">Third-Party Services</h3>
            <text>The Webapp, deployed on Heroku and using OpenAI's ChatGPT API does not integrate
                with any third-party services that collect personal data.
            </text>
        <h3 class="mt-4 mb-4">Cookies</h3>
            <text>The app does not use cookies or similar tracking technologies</text>
        <h3 class="mt-4 mb-4">Children's Privacy</h3>
        <text> The Webapp is not intended for use by children under the age of 13. The app
            does not knowingly collect any personal information from children.If such data
            is discovered, it will be promptly deleted.
        </text>
        <h3 class="mt-4 mb-4">Changes to This Privacy Policy</h3>
            <text>The author reserves the right to modify or update this Privacy Policy from time to time.
                Any changes will be posted on this page, and the "Last Updated" date at the top of this policy
                will be revised accordingly.
            </text>
        <h3 class="mt-4 mb-4">Contact info</h3>
        <text>If you have any questions or concerns about this Privacy Policy or practices
            regarding your information, please contact me at maris.cimermanis@gmail.com.</text>

    </body>
</head>
</html>